/*
  custom css variables
*/

:root {
  --heading-color: #585858;
  --white: white;
  --gray: #eaeaea;
  --note-color-orange: #dcb368;
  --note-color-red: #de7a68;
  --note-color-blue: #68dcdc;
  --bg-color: #e4d8cd;
  --font-cursive: 'Indie Flower', cursive;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-cursive);
  background: var(--bg-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
}

header h1 {
  font-size: 4em;
  color: var(--heading-color);
  text-shadow: 2px 2px 2px #b1b1b1;
}

.wrapper {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.list {
  background-color: var(--note-color-orange);
  box-shadow: 5px 5px 3px 0px #a09f9f;
  margin-right: 20px;
  padding: 15px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}

.list-header {
  color: var(--heading-color);
  width: 100%;
  text-align: center;
}

.list-header h2 {
  margin-bottom: 10px;
}

.list-items {
  color: var(--heading-color);
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.list-items div {
  font-size: 1.4em;
  flex-basis: 100%;
  padding: 2px;
}

.list-items div:hover {
  color: var(--gray);
}

.input-container {
  display: flex;
}

.list-input {
  box-sizing: border-box;
  outline: none;
  font-size: 1.2em;
  font-family: var(--font-cursive);
  width: 80%;
  padding: 5px 5px 5px 10px;
  border: 0;
  background: rgba(60, 60, 60, .1);
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgb(60, 60, 60);
}

.add-btn {
  background-color: var(--heading-color);
  color: var(--gray);
  font-size: 1.2em;
  padding: 5px;
  flex-grow: 1;
}

.add-btn:hover {
  cursor: pointer;
}
