:root {
  --heading-color: #403f3f;
  --white: white;
  --gray: #eaeaea;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'arial';
}

.wrapper {
  width: 550px;
  margin: auto;
  padding-top: 100px;
  display: flex;
  align-items: flex-start;
}

.list {
  background-color: lightsalmon;
  /*color: white;*/
  margin-right: 10px;
  /*color: white;*/
  padding: 10px;
  /*border-radius: 10px;*/
  /*text-align: center;*/
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
}

.list-header {
  width: 100%;
  text-align: left;
  color: var(--heading-color);
}

.list-items {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  color: var(--heading-color);
}

.list-items div {
  flex-grow: 1;
  flex-basis: 100%;
  /*border-radius: 10px;*/
  background-color: var(--gray);
  margin-top: 10px;
  padding: 10px;
}

.list-items div:hover {
  background-color: white;
  color: gray;

}

.button {
  /*border-radius: 5px;*/
  background-color: var(--gray);
  color: black;
  margin-top: 10px;
  padding: 5px;
}

.list-item {
  flex-basis: 100%;
}

.add-btn {
  color: var(--header-color);
  background-color: var(--gray);
  border-radius: 0;
  font-size: .9em;
}

.add-btn:hover {
  color: gray;
  background-color: white;

}
input {
  padding: 5px;
  border: 0;
}

input[type="text"] {
  box-sizing: border-box;
  outline: none;
  font-size: .9em;
  width: 75%;
}

input[type="text"]:hover {
  box-shadow: none;
}
