body {
  margin: 0;
}

.wrapper {
  width: 500px;
  margin: auto;
  padding-top: 100px;
  display: flex;
}

.list {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
}

.list-item {
  flex-basis: 100%;
}
